:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --first-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: var(--main-font);
  font-style: normal;
}
.logo-blue {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.professionalism {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-color);
}
.professionalism-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-color);
}
.our-employees {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--second-color);
}
